form {
  background-color: transparent;
  width: 30vw;
  margin-top: 10vw;
  display: grid;
  gap: 2vw;
  position: relative;
  color: #f8ddce;
}
fieldset {
  display: grid;
  gap: 0.5vw;
  border: none;
}

label {
  color: #f8ddce;
}

input {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 12px;
  border-color: #f8ddce;
  border-style: solid;
  border-width: 0.2vw;
  outline: none;
  color: #f8ddce;
}

input::placeholder {
  color: #f8ddce;
  opacity: 30%;
  padding-left: 0.4vw;
}

button {
  background-color: transparent;
  border-style: solid;
  border-radius: 12px;
  border-color: #5be080;
  color: #5be080;
  border-width: 2.2px;
}

select {
  background-color: transparent;
  border-radius: 12px;
  border-color: #f8ddce;
  border-style: solid;
  border-width: 2.2px;
}

option {
  color: #f8ddce;
  opacity: 30%;
}

input[type="radio"] {
  background-color: transparent;
  appearance: none;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  outline: none;
}

.hide {
  display: none;
}

.fullName {
  display: flex;
  justify-content: space-between;
  div {
    width: 10vw;
    input {
      width: 9vw;
    }
  }
}

.email {
  display: grid;
  input {
    width: 20vw;
  }
}

.countryH {
  display: grid;
}
#country {
  width: 10vw;
}

.password {
  display: grid;
}

.repPassword {
  display: grid;
}

.buttonNext {
  width: 8vw;
  position: relative;
  left: 20vw;
  margin-top: 2vw;
}

// 2nd fieldset

.gameType {
  display: grid;
  width: 20vw;
}

.gameChoice {
  display: grid;
}

.gameImprove {
  display: grid;
}

.fieldset {
  border: solid;
  border-radius: 25px;
}

.infoUpdate {
  display: grid;
  width: 20vw;
}

.buttonSubmit {
  width: 8vw;
  position: relative;
  left: 20vw;
  margin-top: 2vw;
}
